<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-4">
            <!--Imagen-->
            <img
                src="https://w7.pngwing.com/pngs/460/338/png-transparent-portrait-graphy-grapher-grapher-text-photography-logo-thumbnail.png">
            <p>Nombre del heroe</p>
            <br>
            <button type="button" class="btn btn-primary" (click)="Stats()">Estadísticas y Apariencia</button>
            <br>
            <br>
            <button type="button" class="btn btn-primary" (click)="Family()">Conexiones y Familia</button>
        </div>
        <div class="col-sm-8">
            <p>Nombre completo: </p>
            <br>
            <p>Alter Ego: </p>
            <br>
            <p>Alias: </p>
            <br>
            <p>Lugar de nacimiento: </p>
            <br>
            <p>Primera Aparicion: </p>
            <br>
            <p>Editor: </p>
            <br>
            <p>Afinidad: </p>
            <br>

        </div>
    </div>
</div>