<div class="container" style="margin-top:30px">
  <div class="row">
    <div class=" col-md-8 offset-md-0 mb-4">
      <div class=" col-md-5 card border-0 shadow" style="float:left;">
          <img src="{{heroImage}}" class="card-img-top" alt="...">
          <div class="card-body text-center">
              <h5 class="card-title mb-0">{{heroName}}</h5>
          </div>
      </div>

      <div class="col-md-3 offset-md-6">
        <div>
          <p style="text-align: left;">
            Nombre completo: {{heroFullName}}<br><br>
            Alter Ego: {{heroAlterEgo}}<br><br>
            Alias: {{heroAliases}}<br><br>
            Lugar de Nacimiento: {{heroPBirth}}<br><br>
            Primera Aparicion: {{heroFAppearance}}<br><br>
            Editor: {{heroPublisher}}<br><br>
            Afinidad: {{heroAlignment}}<br><br>
          </p>
        </div>
      </div>
  </div>
    <div class="row">
      <div class="d-grid gap-2 col-6 mx-auto">
        <button (click)="Stats()" type="submit" class="btn btn-primary" >Estadísticas y Apariencia</button>
        <button (click)="conexiones()" type="button" class="btn btn-primary">Trabajo, Base y Familia</button>
      </div>
    </div>
</div>
