<div class="container">

    <p></p>

    <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th scope="col">Ironman</th>
            <td> </td>
          </tr>
        </thead>
        <tbody>
          <tr>
              <th scope="col">Conexiones</th>
            <td>Inteligencia 
                <br/>Fuerza
                <br/>Velocidad
                <br/>Durabilidad
                <br/>Poder
                <br/>Combate
            </td>
          </tr>
          <tr>
            <th scope="col">Familia</th>
            <td>Género 
                <br/>Raza
                <br/>Altura
                <br/>Peso
                <br/>Color de ojos
                <br/>Color de pelo
            </td>
          </tr>
        </tbody>
      </table>


</div>
